*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: none;
}

@font-face {
	font-family: "ailerons";
	src: url(/fonts/Ailerons-TrialVersion.otf) format("opentype");
}

@font-face {
	font-family: "PP Neue Montreal Thin";
	src: url(/fonts/PPNeueMontreal-Thin.otf) format("opentype");
}

.full{
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.half{
	height: 70vh;
	display: grid;
    gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	padding: 10vh;
}

.two, .four{
	background: #030401;
}

.three{
	/* Attempt at parallax effect */

	background-image: url("/images/HeroTextBackgroundNormalInverted.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;

	/* End attempt at parallax effect */
}

.five{
	background: #F0EEEC;
}

#hero-text-background{


	/* Attempt at parallax effect */

	background-image: url("/images/HeroBackgroundNormal2.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;

	/* End attempt at parallax effect */



	/* Attempt at responsiveness */
	
	display: grid;
    gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));

	/* End of attempt at responsiveness */

}

#hero-text {

	/* Attempt at parallax effect */

	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	background-image: url('/images/HeroTextBackgroundNormalInverted.jpg');
	background-attachment: fixed;

	/* End attempt at parallax effect */



	/* Text styles */

	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	text-align: center;
	font-size: 25vw;
	font-family: ailerons;
    font-weight: 900;

	/* End of text styles */


	/* Attempt at responsiveness */
	
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

	/* End of attempt at responsiveness */

}

h2{
	color: #F0EEEC;
	font-size: 5rem;
	text-align: center;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	font-family: 'PP Neue Montreal Thin';
}

p{
    text-align: center;
    color: #F0EEEC;
    font-size: 1.5rem;
    font-weight: 800;
	font-family: "PP Neue Montreal Thin";
}

.footerButton{
	font-size: .75rem;
}

.dark{
	color: #030401;
}

.gradient{

	display: grid;
    gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	background: linear-gradient(transparent, 85%, rgba(3, 4, 1, 1));

}

.gradientMirrored{

	display: grid;
    gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	background: linear-gradient(to bottom,rgba(3, 4, 1, 1), rgba(3, 4, 1, .1), transparent 50%, transparent 50%, transparent 50%, rgba(3, 4, 1, .1), rgba(3, 4, 1, 1));

}

.gradientReversed{

	display: grid;
    gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	background: linear-gradient(to bottom,rgba(3, 4, 1, 1), rgba(3, 4, 1, .1), transparent 50%, transparent 50%, transparent 50%, rgba(3, 4, 1, 0), rgba(3, 4, 1, 0));

}

.wordsContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.small{
    margin-top: -15vh;
}

footer{
    background: #030401;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 7vh;
}

footer>p{
    font-size: 1rem;
}

a{
    color:#F0EEEC;
    text-decoration: none;
}

.blobCanvas{

	margin: 0;
	overflow: hidden;
	height: 100%;
	display: block;
	width: 100vw;

}